
<!doctype html>
<html>
  <head>
    <title>Corruption</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
    <script src="../public/javascripts/poiApp.js"></script>
  </head>

  <body ng-app="app">
    <div ng-view>

    </div>
  </body>
</html>
